.header{
    background: #333;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    padding: 0.3em;
    text-align: left;
}

.header a{
    color: #fff;
    text-decoration: none;
}
.logo{
    margin-top: 1.5em;
    margin-left: 6em;
}
h1{
    margin-left: 1em;
}
