h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    margin-left: 15%;
    margin-top: -30%;
}
.select-fecha{
    margin-top: 20%;
    background-color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.select-funcion{
    margin-top: 15%;
    background-color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.select-hora{
    margin-top: 15%;
    background-color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.btn-select{
    margin-top: 20%;
    background-color: grey;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}


.lbhorario{
    text-align: center;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
}
.title{
    margin-top: 5%;
}
.movie-container{
    margin-top: 5%;
    width: 50%;
    height: 30%;
    margin-bottom: 5%;
}
.movie-img{
    margin-left: 2%;
    margin-top: 5%;
}
.movie{
    margin-left: 55%;
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
}
.movie-summary{
    margin-left: 55%;
    width: 45%;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
    margin-right: 2%;
}
.movie-info{
    margin-left: 2.5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.7em;
    max-width: 225px;
    margin-top: -5%;
}