.inpUser{
    width: 100%;
    height: 2em;
}
.inpPass{
    width: 100%;
    height: 2em;
}
.user{
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.2em;
    margin-top: 4em;

 }
 .pass{
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.2em;
    margin-top: 4em;
 }
.btnLogin{
    color: black;
    background-color: cyan;
    margin-top: 2em;
    font-size: 1.3em;
    font-family: 'Fjalla One', sans-serif;

    
}
.crearcuenta{
    margin-bottom: 5%;
    margin-top: 1.5em;
}
.container{
    width: 100%;
}
.marginInfo{
    width: 100%;
}
.buttondiv{
    width: 100%;
    text-align: center;
}