<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MEAN APP</title>
</head>
<body>
    <h1>Mean APP</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias unde maiores odit debitis beatae. Repudiandae quia obcaecati unde velit, delectus natus ducimus quas, quasi quibusdam veniam quaerat quae quisquam autem!</p>
</body>
</html>