<style>
      @import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');
</style>
<div>
    <app-header></app-header>
</div>
<br>

<div class="container">
   <div class="marginInfo">
      <p class="user">Correo electronico o usuario</p>
      <input class = "inpUser" type="email">
      <br>
      <p class="pass">Contraseña</p>
      <input class = "inpPass" type="password">
      <br>
      <button mat-button class="btnLogin">Iniciar Sesion</button>
      <p class="crearcuenta">
         <label>¿No tenés cuenta?</label>
         <a href="facebook.com" style="margin-left: 0.5em" c>Crear Cuenta</a>
      </p>
   </div>
</div>