<style>
    @import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
</style>
<div class="info-container">
     <a class="it2-poster" [routerLink]="['/create-account']">
        <img src="assets/img/IT2_poster.jpg">
        <p class="it2-p">IT 2</p>
     </a>
     <a class="hp-poster" [routerLink]="['/create-account']">
        <img style="width: 210px; height: 300px;" src="assets/img/HP_poster.jpg">
        <p class="hp-p">Harry Potter y la piedra filosofal</p>
    </a>
</div>

