.logout {
    margin-top: 4%;
    margin-left: 85%;
    background-color: rgb(89, 89, 83);
    font-family: 'Oswald', sans-serif;
    font-size: large;
    color: white;
}
.info-container{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 5%;
    margin-top: 4%;
    color:black;
    border-radius: 0.5em !important;
    border: 0.3em solid grey;
    background-color: black;
}

p{
    font-size: 1.2em;
    font-family: 'Oswald', sans-serif;
    color:white;


}
a{
    display: inline-block;
    margin-left: 6%;
    margin-right: 6%;
    text-align: center;
    margin-top: 2em;
    text-decoration-color: white;
}
.movies-container{
    align-content: center;
}

